
<h1 class="sectionedit1" id="設定管理器">設定管理器</h1>
<div class="level1">

<p>
使用本頁控制您的 Dokuwiki 設定。您可以參閱 <a href="http://www.dokuwiki.org/config" class="interwiki iw_doku" title="http://www.dokuwiki.org/config">config</a>，查看每個獨立設定的相關訊息。要知道更多設定管理器的資訊，請瀏覽 <a href="http://www.dokuwiki.org/plugin%3Aconfig" class="interwiki iw_doku" title="http://www.dokuwiki.org/plugin%3Aconfig">plugin:config</a>。
</p>

<p>
淡紅色背景的項目是受到保護的，不能通過這管理器更改。藍色背景的項目是系統的預設值，白色背景的項目是您更改過的。藍色和白色的設定項目都可以更改。
</p>

<p>
離開本頁之前，不要忘記點擊最下面的 <strong>儲存</strong> 按鈕，否則您的修改不會生效。
</p>

</div>
